@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Products" class="btn btn-primary">Overview</a>
    <a asp-controller="Home" asp-action="CreateEditProduct" class="btn btn-secondary">Create Product</a>
</div>

 